body {
  margin: 0;
}

button {
  margin: 0.5em 0;
  border-radius: 0.4em;
  border: none;
  padding: 0.3em 0.8em;
  display: block;
  background-color: #bbb;
  cursor: pointer;
  transition: .3s;
} button:hover {
  transform: scale(1.1);
  background-color: #ddd;
} button:active {
  transform: scale(.95);
}

.container {
  height: auto;
  overflow: hidden;
}

.right {
  width: 6em;
  float: right;
  padding: 0 0.3em;
}

.left {
  width: auto;
  overflow: hidden;
}

#imgdiv {
  display: grid;
  height: 100%;
  width: 100%;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

textarea {
  width: 100%;
  height: 5em;
}

h2 {
  font-size: large;
  text-align: center;
  padding: 0.3em;
  background-color: cyan;
}

#bodypad {
  padding: 1em;
}

#link2nozo {
  font-size: small;
}

#artists-name {
  padding-inline-start: 1em;
  margin-block-start: 0;
}
#artists-name > li {
  white-space: normal;
  word-wrap: break-word;
}
